@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #eee;
  --dark-color: #2c3e50;
  --text-color: #7f7f7f;
}
.wrapper {
  min-height: 100vh;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 450px;
  background: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #233942;
}

.card img {
  background: var(--main-color);
  margin-top: 30px;
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 0.15rem;
  border: 0.2rem solid black;
}
.user-image {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
.user-image:before {
  content: "";
  height: 125px;
  width: 100%;

  background: var(--dark-color);
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info .name {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}
.user-info .handle {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-color);
}
.user-info .summary {
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-color);
}
.location {
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--text-color);
  padding: 2.5rem 0;
}

.location::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  padding: 0 0.2rem;
}
